<div ng-controller="companiesCtrl">
	<md-toolbar>
		<div class="md-toolbar-tools">	
			<span flex><h2>Companies</h2></span>
		</div>
	</md-toolbar>
	<md-content label="Search Accounts">
		<div layout="column">
			<div layput="row">
				<md-input-container>
					<label>Account Name</label>
					<input type="text" ng-model="searchQuery">
				</md-input-container>
				<md-button class="md-raised" ng-click="searchAccounts(searchQuery)">Search</md-button>
				<md-progress-circular ng-show="searchInProgress" md-mode="indeterminate"></md-progress-circular>
			</div>
			
			<md-list>
				<md-virtual-repeat-container style="height:500px">
					<md-list-item flex ui-sref="company({companyId: account.Id})" md-virtual-repeat="account in accounts" class="md-3-line repeated-item">
						<div class="md-list-item-text">
						<h3>{{account.Name}}: {{account.VFA_City__c}}</h3>
						<p>{{account.Website}}</p>
						<p>{{account.CoPa_Association__c}}</p>
					</div>
					</md-list-item>
				</md-virtual-repeat-container>
			<md-list>
		</div>
	</md-content>
 </div>
