<div ng-controller="companiesCtrl">
	<div class="row">
		<div class="col-md-2">
			<h2>Filters</h2>
			Search: <input type="text" ng-model="searchKey">
			<br>
			<hr>
			Sort By: 
			<br>
			<button type="button" class="btn btn-info" ng-click="orderBy(name)">Name</button>
			<br>
			<button type="button" class="btn btn-info" ng-click="orderBy(city)">City</button>
			<br>
			<button type="button" class="btn btn-info" ng-click="orderBy(association)">Association</button>
		</div>
		<div class="col-md-5">
			<h2>Companies</h2>
			<div class="row" ng-repeat="company in companies | filter:searchKey">
				
				<div class="col-md-2">{{company.VFA_City__c}}</div>
				<div class="col-md-2">{{company.Name}}</div>
				<div class="col-md-2">{{company.CoPa_Association__c}}</div>
				<div class="col-md-2">
					<a href="{{company.Website}}" target="_blank">url link</div>
				</div>
				<div class="col-md-2">
					<button ng-click="viewCompany(company.Id)">View</button>
				</div>
			</div>
		</div>
		<div class="col-md-5">
			<h2>Company Info</h2>
		</div>
	</div>
</div>