<div ng-controller="fellowsCtrl">
	<div class="row">
		<div class="col-md-2">
			This is for the filters. 
		</div>
		<div class="col-md-5">
			<div class="row" ng-repeat="fellow in fellows">
				<div class="col-md-1">
					{{fellow.year}}
				</div>
				<div class="col-md-3">
					{{fellow.name}}
				</div>
				<div class="col-md-3">
					Company<!-- {{fellow.Company}} -->
				</div>
				<div class="col-md-3">
					City<!-- {{fellow.City}} -->
				</div>
				<div class="col-md-2">
					<button type="button" ng-click="getFellow(fellow.id)">
						View
					</button>
				</div>
			</div> <!-- end fellow feed row -->
		</div> <!-- end fellow feed div -->
		<div class="col-md-5">
			<ul>
				<li>{{fellow.Years__c}}</li>
				<li>{{fellow.Name}}</li>
				
			</ul>
		</div>
	</div> <!-- end initial row div -->
</div>