<div class="container-fluid">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">

			<div ng-controller="fellowsCtrl">
				<h2>Fellows</h2>
				<hr>
				<div class="row">
					<div class="col-sm-4 col-xs-12"><!-- fellow name search [NEEDS NG-MODEL]-->
						<div class="form-group has-feedback margin-adjust">
							<input type="search" class="form-control" placeholder="Name Search"/>
							<i class="glyphicon glyphicon-search form-control-feedback"></i>
						</div>
					</div>
					<div class="col-sm-4 col-xs-12"><!-- city search -->
						<div class="form-group has-feedback margin-adjust">
							<input ng-model="cityQuery" type="search" class="form-control" placeholder="City Search"/>
							<i class="glyphicon glyphicon-search form-control-feedback"></i>
						</div>
					</div>
					<div class="col-sm-4 col-xs-12"><!-- school search -->
						<div class="form-group has-feedback margin-adjust">
							<input ng-model="schoolQuery" type="search" class="form-control" placeholder="School Search"/>
							<i class="glyphicon glyphicon-search form-control-feedback"></i>
						</div>
					</div>
				</div>
				<div class="btn-group"><!-- sort by [NEEDS ANGULAR] -->
					<button type="button" class="btn btn-default btn-sm">Sort Name</button>
					<button type="button" class="btn btn-default btn-sm">Sort Year</button>
				</div>

				<hr>
				<div ng-repeat="fellow in filteredFellows = ( fellows | filter: {city: cityQuery, almaMater: schoolQuery}| orderBy:sortProp:reverse)">
					<div class="row">
						<div class="col-md-3 col-sm-4 col-xs-6">
							<span>{{fellow.name}}</span>
						</div>
						<div class="col-md-3 col-sm-4 col-xs-6 hidden-xs">
							<span>City Name</span>
						</div>
						<div class="col-md-3 col-sm-4 col-xs-6 hidden-sm hidden-xs">
							<span>Company Name</span>
						</div>
						<div class="col-md-3 col-sm-4 col-xs-6 text-right">
							<span>{{fellow.year}}<span class="glyphicon glyphicon-menu-right menu-right-padding" ui-sref="fellow({ fellowId: fellow.id })"></span></span>
						</div>
					</div> <!-- end row div -->
					<hr>
				</div> <!-- end repeat div -->
			
			</div>
		</div>
	</div>
</div>