<div ng-controller="fellowsCtrl" class="row">
	<div class="col-xs-12">
		<h2>Fellows</h2>
		<hr>
		Search: <input ng-model="query">
		<hr>
		<div class="row" ng-repeat="fellow in filteredFellows = ( fellows | filter:query | orderBy:sortProp:reverse)">
			<div class="col-xs-5">
				{{fellow.name}}
			</div>
			<div class="col-xs-5">
				{{fellow.year}}
			</div>
			<div class="col-xs-2">
				<button type="button" ui-sref="fellows.profile({ fellowId: fellow.id })">
					View
				</button>
			</div>
		</div> <!-- end fellow feed row -->
	</div> <!-- end fellow feed div -->
</div> <!-- end initial row div -->