<div ng-controller="fellowsCtrl">
		<h2 align="center">Fellows</h2>
		<hr>
		<div align="center">Search: <input ng-model="query"></div>
		<hr>
		<div class="row" ng-repeat="fellow in filteredFellows = ( fellows | filter:query | orderBy:sortProp:reverse)">
			<div class="col-xs-4">
				{{fellow.name}}
			</div>
			<div class="col-xs-4">
				{{fellow.year}}
			</div>
			<div class="col-xs-4">
				<button type="button" ui-sref="fellows.profile({ fellowId: fellow.id })">
					View
				</button>
			</div>
		</div> <!-- end fellow feed row -->
</div> <!-- end initial row div -->