<div ng-controller="campaignCtrl">
<h2>Create Campaign</h2>
<label>Name</label>
<input ng-model="name"type="text">
<!-- <br>
<label>School</label>
<input type="text"> -->
<br>
<label>Start Date</label>
<input ng-model="startDate"type="date">
<br>
<label>Campaign Owner</label>
<select ng-model="vfaId" ng-options="vfa.id as vfa.name for vfa in vfaTeam"></select>
<br>
<label>Type</label>
<select></select>
<br>
<button ng-click="createCampaign(name, startDate, vfaId)">Create Campaign</button>
</div>