extends layout

block content
	// dropdown of accounts
	h2= "Companies Dashboard"
	label Companies
	select#accounts
		each id, name in accounts
			option(id=id) #{name}
	//	for each id, name in accounts
