
h2 Log Notes
label Subject 
input(id="subject")(style="width: 250px")
br
label Notes 
textarea(id="notes")(style="width: 250px; height: 75px")
br
p#cases
br
label User 
select#vfaList.chosen-select(data-placeholder="Choose Yourself")
	each id, name in vfaList
		option(id=id) #{name}
br
br
button#logNotes(type="button" class="btn btn-success") Log Notes
p#responseResult
p#results
// line break
hr
button#updateAccount(type="button" class="btn btn-success") Update Account
h2 Fellow Info
h3 Contact Info
label Email 
input#Email(type="text")
br
label Phone 
input#Phone(type="text")
br
label Bio 
textarea#Description
// figure out Birthdate
hr
h3 Company Info
label Company 
input#Account_Name_for_SurveyGizmo__c("type=text")
br
label Website 
input#Account_Website__c(type="url")
br
label Location 
// figure out chosen select
br
label Job Title
input#Title(type="text")
h4 Supervisor
label Manager's First Name
input#Supervisor_First_Name__c(type="text")
br
label Manager's Last Name
input#Supervisor_Last_Name__c(type="text")
br
label Manager's Email
input#Supervisor_Email__c("type=text")
hr
// so this is where the new stuff is. 
// where we're going to have the 
// performance data, cases, activity history
// anything else?
// in time, would be nice to get owner
// performance data = fellow surveys / company surveys
h3 SurveyGizmo Performance Data