doctype html
html
	head
		title= title
		link(rel='stylesheet',
		href='/stylesheets/style.css')
		link(rel='stylesheet')(href="https://harvesthq.github.io/chosen/chosen.css")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js").
		script(src="https://harvesthq.github.com/chosen/chosen.jquery.js")(type="text/javascript").

	body
		nav.navbar
			a(href="/") Fellows
			a(href="/copa") CoPa
		block content