doctype html
html
	head
		title= title
		link(rel='stylesheet',
		href='/stylesheets/style.css')
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js").
		script(src="../chosen_v1.4.2/chosen.jquery.min.js").
	body
		nav.navbar
			a(href="/") Fellows
			a(href="/copa") CoPa
		block content