<div class="container-fluid">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<div ng-controller="fellowCtrl">

				<h2>{{fellow.profile.Name}}</h2>
				<hr>

				<!-- scrollspy nav 
				<nav id="scrollspyNav">
					<ul class="nav navbar-nav">
						<li><a href="#fellowInfo">Fellow Info</a></li>
					</ul>
				</nav> -->

				<h3>Log Notes</h3>
				<form>
					<div class="form-group">
						<label>Subject</label>
						<input type="text" ng-model="noteSubject" class="form-control">
					</div>
					<div class="form-group">
						<label>Notes</label>
						<textarea ng-model="noteDescription" class="form-control"></textarea>
					</div>
					<div class="form-group">
						<select ng-options="case.Id as case.Subject for case in fellow.cases" ng-model="activeCase" class="form-control"></select>
					</div>
					<div class="form-group">
						<select ng-options="vfa.id as vfa.name for vfa in vfaTeam" ng-model="vfaId" class="form-control"></select>
					</div>
					<div class="form-group">
						<button type="button" class="btn btn-default" ng-click="logNotes(noteSubject, noteDescription, vfaId, fellowId, activeCase)">Log Notes</button>
					</div>
				</form>

				<hr>

				<h3 id="fellowInfo">Fellow Info</h3>
				<div class="row">
					<div class="col-xs-6">
						<div class="detail-label">Name</div>{{fellow.profile.Name}}
						<br>
						<br>
						<div class="detail-label">City</div>{{fellow.profile.VFA_City__c}}
						<br>
						<br>
						<div class="detail-label">Year</div>{{fellow.profile.Years__c}}
						<br>
						<br>
						<div class="detail-label">Mailing Address</div>{{fellow.profile.MailingStreet}}<br>{{fellow.profile.MailingCity}}, {{fellow.profile.MailingState}} {{fellow.profile.MailingPostalCode}}
					</div>
					<div class="col-xs-6">
						<div class="detail-label">Email</div>{{fellow.profile.Email}}
						<br>
						<br>
						<div class="detail-label">Twitter</div>{{fellow.profile.Twitter_Handle__c}}
						<br>
						<br>
						<div class="detail-label">Instagram</div>{{fellow.profile.Instagram_Handle__c}}
					</div>
				</div>
				<br>
				<div class="detail-label">Bio</div>{{fellow.profile.Description}}

				<h4>Job</h4>
				<div class="row">
					<div class="col-xs-6">
						<div class="detail-label">Company</div>{{fellow.profile.Account_Name_for_SurveyGizmo__c}}
						<br><br>
						<div class="detail-label">Title</div>{{fellow.profile.Title}}
					</div>
					<div class="col-xs-6">
						<div class="detail-label">Supervisor Name</div>{{fellow.profile.Supervisor_First_Name__c}} {{fellow.profile.Supervisor_Last_Name__c}}
						<br><br>
						<div class="detail-label">Supervisor Email</div>{{fellow.profile.Supervisor_Email__c}}
					</div>
				</div>
					
				<h3 id="surveyGizmo">SurveyGizmo</h3>
				<h4>Company Eval</h4>
				<div ng-repeat="eval in fellow.companyEval">
					<h5>{{eval.Name}}</h5>
					Submission Date: {{eval.CreatedDate}}
					<br>
					Overall Performance: {{eval.CPS_Overall__c}}
					<br><br>
					Strengths:<br>
					{{eval.CPS_Strengths__c}}
					<br><br>
					Areas to Improve:<br>
					{{eval.CPS_Improvement__c}}
					<br><br>
				</div>
				
				<h4>Self Eval</h4>
				<div ng-repeat="eval in fellow.surveySelfEvals">
					<h5>{{eval.Name}}</h5>
					Submission Date: {{eval.CreatedDate}}
					<br><br>
					Job Performance: {{eval.FSE_Job_Performance__c}}
					<br>
					Job Happiness: {{eval.FSE_Job_Happiness__c}}
					<br><br>
					Highlight:<br>
					{{eval.FSE_Highlight__c}}
					<br><br>
					Area for Improvement:<br>
					{{eval.FSE_Improve_at_Work__c}}
					<br><br>
				</div>
				
				<h3 id="Activities">Activities</h3>
				<div ng-repeat="activity in fellow.activities">
					<h5>{{activity.Subject}}</h5>
					Created Date: {{activity.CreatedDate}}
					<br>
					Type: {{activity.Type__c}}
					<br>
					Activity:
					<br>
					{{activity.Description}}
					<br><br>
				</div>
				
				<h3 id="cases">Cases</h3>
				<div ng-repeat="case in fellow.cases">
					<h5>{{case.Subject}}</h5>
					Created Date: {{case.CreatedDate}}
					<br><br>
					Description:
					<br>
					{{case.Description}}
					<br><br>
					Facts of the situation (if applicable):
					<br>
					{{case.Facts_of_the_Situation_Fellow_input__c}}
					<br><br>
					Potential Solutions (if applicable):
					<br>
					{{case.Potential_Solutions_Fellow_Input__c}}
					<br><br>
					Potential Solutions Attempted (if applicable):
					<br>
					{{case.Previous_Solutions_Attempted__c}}
					<br><br>
					Mentor Qualities (Fellow input, if applicable):
					<br>
					{{case.Mentor_Qualities_Fellow_Input__c}}
					<br><br>
				</div>
			
			</div>
		</div>
	</div>
</div>