<div ng-controller="contactProfileCtrl">
    <div class="container-fluid">
        <div class="row">
            <h2>{{contact.Name}}</h2>
            <hr>
            <div class="panel panel-default">
                <div class="panel-heading">Overview</div>
                <div class="panel-body">
                    <div class="row">
                        <div ng-repeat="(fieldName, fieldValue) in contact">
                            <div class="col-xs-6">
                                <h5 class="vfa-item-header"><small>{{fieldName}}</small></h5>
                                <p ng-if="fieldName !== 'AccountId'">{{fieldValue}}</p>
                                <p ng-if="fieldName === 'AccountId'">{{companyName}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>