<div ng-controller="ContactCtrl">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
			<form>
				<div class="form-group">
					<label>Contact Type</label>
					<select ng-model="contact.RecordTypeId" ng-options="id as name for (name, id) in recordTypes" class="form-control"></select>
				</div>

				<div class="input-group">
					<label>First Name</label>
					<input type="text" ng-model="contact.FirstName" class="form-control">
				</div>

				<div class="input-group">
					<label>Last Name</label>
					<input type="text" ng-model="contact.LastName" class="form-control">
				</div>

				<div class="input-group">
					<label>Email</label>
					<input type="text" ng-model="contact.Email" class="form-control">
				</div>

				<div class="input-group">
					<label>Title</label>
					<input type="text" ng-model="contact.Title" class="form-control">
				</div>
				<br>
				<!-- Account Search -->
				<div class="input-group">
					<input type="text" ng-model="relatedToSearch" placeholder="Account Name" class="form-control">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button" ng-click="searchAccounts(relatedToSearch)">Search</button>
					</span>
				</div>

				<div layout="row">
					<md-progress-circular ng-if="!isRelatedToSearchInProgress && !relatedTo.length && !noCompaniesFound" md-mode=""></md-progress-circular>
					<md-progress-circular ng-if="isRelatedToSearchInProgress" md-mode="indeterminate"></md-progress-circular>
					<div ng-if="relatedTo.length" class="form-group">
						<label>Select Account</label>
						<select ng-model="contact.AccountId" ng-options="account.Id as account.Name for account in relatedTo" class="form-control"></select>
					</div>
					<div ng-if="noCompaniesFound">
						<p>{{noCompaniesFoundMessage}}</p>
					</div>
				</div>

				<!-- VFA City -->
				<md-autocomplete md-min-length="3" md-search-text="citySearch" md-selected-item="contact.VFA_City__c" md-items="city in filteredCities = (cities | filter:citySearch)" md-item-text="city" md-floating-label="City">
					<md-item-template>
						{{city}}
					</md-item-template>
				</md-autocomplete>

				<div class="form-group">
					<label>User</label>
					<select ng-model="contact.OwnerId" ng-options="user.Id as user.Name for user in users" class="form-control"></select>
				</div>

			<div layout="row">	
				<md-button class="md-raised" ng-click="createContact(contact)">Create Contact</md-button>
				<md-progress-circular ng-if="contactInProgress" md-mode="indeterminate"></md-progress-circular>
				<div ng-if="mostRecentContact">
					<a ng-href="https://na14.salesforce.com/{{mostRecentContact}}" target="_blank">See Contact</a>
				</div>
				<p ng-if="contactFailed">{{contactFailed}}</p>
			</div>

			</form>
		</div>
	</div>
</div>
