<div ng-controller="ContactCtrl">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
			<form>
				<div class="input-group">
					<label>Contact Name</label>
					<input type="text" ng-model="Name" class="form-control">
				</div>

				<!-- Account Search -->
				<div class="input-group">
					<input type="text" ng-model="relatedToSearch" placeholder="Account Name" class="form-control">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button" ng-click="searchAccounts(relatedToSearch)">Search</button>
					</span>
				</div>

				<div layout="row">
					<md-progress-circular ng-if="!isRelatedToSearchInProgress && !relatedTo.length && !noCompaniesFound" md-mode=""></md-progress-circular>
					<md-progress-circular ng-if="isRelatedToSearchInProgress" md-mode="indeterminate"></md-progress-circular>
					<div ng-if="relatedTo.length" class="form-group">
						<label>Select Account</label>
						<select ng-model="notes.relatedTo" ng-options="account.Name for account in relatedTo" class="form-control"></select>
					</div>
					<div ng-if="noCompaniesFound">
						<p>{{noCompaniesFoundMessage}}</p>
					</div>
				</div>

				<div class="input-group">
					<label>Email</label>
					<input type="text" ng-model="Email" class="form-control">
				</div>

				<!-- VFA City -->
				<md-autocomplete md-min-length="3" md-search-text="citySearch" md-selected-item="VFA_City__c" md-items="city in filteredCities = (cities | filter:citySearch)" md-item-text="city.Name" md-floating-label="You">
					<md-item-template>
						{{city.Name}}
					</md-item-template>
				</md-autocomplete>

			</form>
		</div>
	</div>
</div>