<div class="container-fluid">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <h2>{{companyInfo.Name}}</h2>
            <hr>
            <h3 id="fellowInfo">Company Info</h3>
            <!-- OVERVIEW -->
            <div class="panel panel-default">
                <div class="panel-heading">Overview</div>
                <div class="panel-body">
                    <div class="row">
                        <div ng-repeat="field in companyInfo">
                            <div class="col-xs-6">
                                <h5 class="vfa-item-header"><small>{{field.label}}</small></h5>
                                <p>{{field.value}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- OVERVIEW -->
            <div class="panel panel-default">
                <div class="panel-heading">Overview</div>
                <div class="panel-body">
                    <div class="row">
                        <div ng-repeat="field in companyInfo">
                            <div class="col-xs-6">
                                <h5 class="vfa-item-header"><small>{{field.label}}</small></h5>
                                <p>{{field.value}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>{{companyInfo.Name}}</h2>
                    <span flex></span>
                </div>
            </md-toolbar>
            <md-tabs md-dynamic-height="true">
                <md-content ng-repeat="contact in contacts">
                    <md-tab label="contact.Name">
                        <div class="panel-body">
                            <div class="row">
                                <div ng-repeat="field in contact">
                                    <div class="col-xs-6">
                                        <h5 class="vfa-item-header"><small>{{contact.label}}</small></h5>
                                        <p>{{field.value}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </md-tab>
                </md-content>
            </md-tabs>
            <!-- CONTACTS -->
            <div class="panel panel-default">
                <!-- ng-repeat -->
                <div class="panel-heading">Contact Info & Social</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-6">
                            <h5 class="vfa-item-header"><small>Email</small></h5>
                            <p>{{fellow.profile.Email}}</p>
                        </div>
                        <div class="col-xs-6">
                            <h5 class="vfa-item-header"><small>Twitter</small></h5>
                            <p>{{fellow.profile.Twitter_Handle__c}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <h5 class="vfa-item-header"><small>Mailing Address</small></h5>
                            <p>{{fellow.profile.MailingStreet}}
                                <br>{{fellow.profile.MailingCity}}, {{fellow.profile.MailingState}} {{fellow.profile.MailingPostalCode}}</p>
                        </div>
                        <div class="col-xs-6">
                            <h5 class="vfa-item-header"><small>Instagram</small></h5>
                            <p>{{fellow.profile.Instagram_Handle__c}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- JOB INFO -->
            <div class="panel panel-default">
                <div class="panel-heading">Job Info</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-6">
                            <h5 class="vfa-item-header"><small>Company</small></h5>
                            <p>{{fellow.profile.Account_Name_for_SurveyGizmo__c}}</p>
                        </div>
                        <div class="col-xs-6">
                            <h5 class="vfa-item-header"><small>Supervisor Name</small></h5>
                            <p>{{fellow.profile.Supervisor_First_Name__c}} {{fellow.profile.Supervisor_Last_Name__c}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <h5 class="vfa-item-header"><small>Title</small></h5>
                            <p>{{fellow.profile.Title}}</p>
                        </div>
                        <div class="col-xs-6">
                            <h5 class="vfa-item-header"><small>Supervisor Email</small></h5>
                            <p>{{fellow.profile.Supervisor_Email__c}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- COMPANY EVALS -->
            <div class="panel panel-default">
                <div class="panel-heading">Company Evaluations</div>
                <div class="panel-body" ng-repeat="eval in fellow.companyEval">
                    <h5>{{eval.Name}}<small> - Submitted -  {{eval.CreatedDate}}</small></h5>
                    <div class="row">
                        <div class="col-xs-12">
                            <h5 class="vfa-item-header"><small>Overall Performance</small></h5>
                            <p>{{eval.CPS_Overall__c}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <h5 class="vfa-item-header"><small>Strengths</small></h5>
                            <p>{{eval.CPS_Strengths__c}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <h5 class="vfa-item-header"><small>Areas to Improve</small></h5>
                            <p>{{eval.CPS_Improvement__c}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- SELF EVALS -->
            <div class="panel panel-default">
                <div class="panel-heading">Self Evaluations</div>
                <div class="panel-body" ng-repeat="eval in fellow.surveySelfEvals">
                    <h5>{{eval.Name}}<small> - Submitted -  {{eval.CreatedDate}}</small></h5>
                    <div class="row">
                        <div class="col-xs-6">
                            <h5 class="vfa-item-header"><small>Job Performance</small></h5>
                            <p>{{eval.FSE_Job_Performance__c}}</p>
                        </div>
                        <div class="col-xs-6">
                            <h5 class="vfa-item-header"><small>Job Happiness</small></h5>
                            <p>{{eval.FSE_Job_Happiness__c}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <h5 class="vfa-item-header"><small>Highlight</small></h5>
                            <p>{{eval.FSE_Highlight__c}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <h5 class="vfa-item-header"><small>Areas to Improve</small></h5>
                            <p>{{eval.FSE_Improve_at_Work__c}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ACTIVITIES -->
            <div class="panel panel-default">
                <div class="panel-heading">Activities</div>
                <div class="panel-body" ng-repeat="activity in fellow.activities">
                    <h5>{{activity.Subject}}<small> - Created -  {{activity.CreatedDate}}</small></h5>
                    <div class="row">
                        <div class="col-xs-12">
                            <h5 class="vfa-item-header"><small>Type</small></h5>
                            <p>{{activity.Type__c}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <h5 class="vfa-item-header"><small>Activity Description</small></h5>
                            <p>{{activity.Description}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- CASES -->
            <div class="panel panel-default">
                <div class="panel-heading">Cases</div>
                <div class="panel-body" ng-repeat="case in fellow.cases">
                    <h5>{{case.Subject}}<small> - Created -  {{case.CreatedDate}}</small></h5>
                    <div class="row">
                        <div class="col-xs-12">
                            <h5 class="vfa-item-header"><small>Description</small></h5>
                            <p>{{case.Description}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <h5 class="vfa-item-header"><small>Activity Description</small></h5>
                            <p>{{activity.Description}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <h5 class="vfa-item-header"><small>Facts of the situation</small></h5>
                            <p>{{case.Facts_of_the_Situation_Fellow_input__c}}</p>
                        </div>
                        <div class="col-xs-6">
                            <h5 class="vfa-item-header"><small>Potential Solutions</small></h5>
                            <p>{{case.Potential_Solutions_Fellow_Input__c}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <h5 class="vfa-item-header"><small>Mentor Qualities</small></h5>
                            <p>{{case.Mentor_Qualities_Fellow_Input__c}}</p>
                        </div>
                        <div class="col-xs-6">
                            <h5 class="vfa-item-header"><small>Potential Solutions Attempted</small></h5>
                            <p>{{case.Previous_Solutions_Attempted__c}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
####
<h2>{{company.Name}}</h2>
<h3>Background</h3>
<md-content layout-padding>
    <div layout="column">
        <md-checkbox ng-model="isEdit" ng-change="!isEdit">Editable</md-checkbox>
        <div layout="row">
            <md-button ng-if="isEdit" class="md-raised" ng-click="update(companyInfo)">
                Update Account
            </md-button>
            <md-progress-circular ng-if="updateInProgress" md-mode="indeterminate"></md-progress-circular>
            <a ng-if="!updateInProgress && recentlyUpdated" ng-href="{{recentlyUpdated}}" target="_blank">See Updated Account</a>
            <p ng-if="updateErrorMessage">{{updateErrorMessage}}</p>
        </div>
        <div layout="column" ng-repeat="field in companyInfo">
            <p ng-if="!isEdit && field.type !== 'id'"><strong>{{field.label}}</strong>: {{field.value}}</p>
            <md-input-container ng-show="isEdit && (field.type === 'text' || field.type === 'string' || field.type === 'int' || field.type === 'double')" class="md-block">
                <label>{{field.label}}</label>
                <input type="text" ng-model="field.value">
            </md-input-container>
            <md-input-container ng-show="isEdit && field.type === 'textarea'" class="md-block">
                <label>{{field.label}}</label>
                <textarea ng-model="field.value" columns="1" rows="5"></textarea>
            </md-input-container>
            <label ng-show="isEdit && (field.type === 'picklist' || field.type === 'multipicklist')">{{field.label}}</label>
            <select ng-show="isEdit && (field.type === 'picklist' || field.type === 'multipicklist')" ng-model="field.value" ng-options="item.label as item.value for item in field.picklistValues"></select>
            <md-checkbox ng-show="isEdit && field.type === 'boolean'" ng-model="field.value" ng-true-value="true" ng-false-value="false">{{
                <field class="label"></field>}}</md-checkbox>
        </div>
</md-content>
</md-tab>
<h3>Contacts</h3>
<p ng-if="!contacts">No Contacts in Salesforce</p>
<md-list ng-if="contacts">
    <md-list-item class="md-3-line" ng-repeat="contact in contacts" layout="column">
        <div class="md-line-item-text">
            <h3>{{contact.Name}}</h3>
            <h4>{{contact.Title}}</h4>
            <p>{{contact.Email}}</p>
        </div>
    </md-list-item>
</md-list>
<h3>Opportunities</h3>
<p ng-if="!opportunities">No Opportunities in Salesforce</p>
<md-list ng-if="opportunities">
    <md-list-item class="md-3-line" ng-repeat="opportunity in opportunities" layout="column">
        <div class="md-line-item-text">
            <h3>{{opportunity.Name}}</h3>
            <h4>{{opportunity.Description}}</h4>
            <p>Expected Close Date: {{opportunity.CloseDate}}</p>
        </div>
    </md-list-item>
</md-list>
</md-tab>
<h3>Recent Activities</h3>
<p ng-if="!activities">No Activities in Salesforce</p>
<md-list>
    <md-list-item class="md-2-line" ng-repeat="activity in activities" layout="column">
        <div class="md-line-item-text">
            <h4>{{activity.Subject}}</h4>
            <p><strong>Created By:</strong> {{getUser(users, activity.OwnerId).Name}} </p>
            <p>{{activity.Description}}</p>
        </div>
    </md-list-item>
</md-list>
</div>