<div ng-controller="NoteLoggerCtrl">
<md-content>
	<div layout="column">
		<md-autocomplete md-selected-item="notes.contact" md-items="contact in contacts" md-item-text="contact.Name" md-search-text="contactSearchText" md-floating-label="Contact">
			<md-item-template>
				{{contact.Name}}
			</md-item-template>
		</md-autocomplete>

		<md-autocomplete md-selected-item="notes.relatedTo" md-items="listItem in filteredList = (relatedToList | filter:relatedToSearch)" md-item-text="listItem.name" md-search-text="relatedToSearch" md-floating-label="Related To (Account or Opportunity)">
			<md-item-template>
				{{listItem.name}}
			</md-item-template>
		</md-autocomplete>

		<md-input-container>
			<label>Subject</label>
			<input ng-model="notes.Subject" type="text">
		</md-input-container>

		<md-input-container>
			<label>Notes</label>
			<textarea ng-model="notes.Description"></textarea>
		</md-input-container>

		<md-autocomplete md-search-text="userSearch" md-selected-item="notes.user" md-items="user in filteredUsers = (users | filter:userSearch)" md-item-text="user.Name" md-floating-label="You">
			<md-item-template>
				{{user.Name}}
			</md-item-template>
		</md-autocomplete>
		<div layout="row">
			<md-button class="md-raised" ng-click="logNotes(notes)">Log Notes</md-button>
			<md-progress-circular ng-if="inProgress" md-mode="indeterminate"></md-progress-circular>
			<md-progress-circular ng-if="!inProgress" md-mode=""></md-progress-circular>
		</div>
		
	</div>
</md-content>
</div>