<div ng-controller="SupporterCtrl" ng-cloak>
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Supporter Page</h2>
			<span flex></span>
			<md-button class="md-raised">+Contact</md-button>
			<md-button class="md-raised">+Opportunity</md-button>
		</div>
	</md-toolbar>
	<md-tabs md-dynamic-height="true">
		<md-tab label="Log Notes">
			<form name="logNotes">
				<div layout="column">
					<md-input-container>
						<label>Subject</label>
						<input ng-model="notes.Subject" type="text">
					</md-input-container>
					<md-input-container>
						<label>Notes</label>
						<textarea ng-model="notes.Description" columns="1" rows="5"></textarea>
					</md-input-container>
				</div>
				<md-button class="md-raised">Log</button>
			</form>
		</md-tab>
		<md-tab label="Background">
			<md-content layout-padding>
				<h4>City</h4>
				<p>City</p>
				<h4>Association</h4>
				<p>Association</p>
				<h4>Website</h4>
				<p>website</p>
				<h4>Description</h4>
				<p>Description</p>
				<h4>Twitter</h4>
				<p>Twitter Handle</p>
			</md-content>
		</md-tab>
		<md-tab label="Contacts">
			<md-list>
				<md-list-item class="md-3-line" ui-sref="contact({contactId: contact.Id})">
					<div class="md-line-item-text">
						<h3>Contact Name</h3>
						<h4>Contact Job Title</h4>
						<p>Contact email</p>
					</div>
				</md-list-item>
			</md-list>
		</md-tab>
		<md-tab label="Opportunities">
			<md-list>
				<md-list-item class="md-3-line" ui-sref="opportunity({opportunityId: opportunity.Id})">
					<div class="md-line-item-text">
						<h3>Opportunity Name</h3>
						<p>Opportunity Description</p>
					</div>
				</md-list-item>
			</md-list>
		</md-tab>
	</md-tabs>
</div>