<md-toolbar>Supporter Page</md-toolbar>
<md-tabs md-dynamic-height="true">
	<md-tab label="Log Notes">
	</md-tab>
	<md-tab label="Background">
		<md-content>
			<h4>City</h4>
			<p>City</p>
			<h4>Association</h4>
			<p>Association</p>
			<h4>Website</h4>
			<p>website</p>
			<h4>Description</h4>
			<p>Description</p>
			<h4>Twitter</h4>
			<p>Twitter Handle</p>
		</md-content>
	</md-tab>
	<md-tab label="Contacts">
		<md-list>
			<md-list-item class="md-3-line" ui-sref="contact({contactId: contact.Id})">
				<div class="md-line-item-text">
					<h3>Contact Name</h3>
					<h4>Contact Job Title</h4>
					<p>Contact email</p>
				</div>
			</md-list-item>
		</md-list>
	</md-tab>
	<md-tab label="Opportunities">
		<md-list>
			<md-list-item class="md-3-line" ui-sref="opportunity({opportunityId: opportunity.Id})">
				<div class="md-line-item-text">
					<h3>Opportunity Name</h3>
					<p>Opportunity Description</p>
				</div>
			</md-list-item>
		</md-list>
	</md-tab>
</md-tabs>
